/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: #232323;
    color: #C9C9C9;
    min-height: 100%;
    overflow: hidden;
}

/* ============================================================================
   Nav Header - Logo and User Information
   ============================================================================ */
.navbar-top-header {
    margin-bottom: 2px;
}

/* ===============================================================  logo styles */
.navbar-header {
    padding-top: 7px;
}

.navbar-header img {
    float: left;
    margin-right: 6px;
}

.navbar-header .logo-name {
    color: #B3B3B3;
    font-size: 16px;
    padding-top: 7px;
    width: 210px;
}

/* ===================================================  User information styles */
.navbar-top-header div ul {
    background-color: #454545;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 28px;
    margin-top: 10px;
    margin-right: 0;
}

.navbar-top-header div ul li:first-child a {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.navbar-top-header div ul li:last-child a {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.navbar-top-header div ul li a {
    background-color: #454545;
    border-right: 1px solid #383838;
    color: #B3B3B3;
    font-size: 13px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.navbar-top-header div ul li a:hover,
.navbar-top-header div ul li a:focus {
    background-color: #292929;
    color: #B3B3B3;
}

/* ============================================================================
   Main menus and search styles
   ============================================================================ */
#main-menu {
    margin-bottom: 2px;
}
#main-menu div div div:not(:last-child) {
    padding-right: 2px;
}

#main-menu div div div a {
    background-color: #292929;
    color: #666661;
    display:block;
    font-size: 13px;
    height: 34px;
    max-width: 600px;
    padding: 8px 14px;
    text-align: center;
    width: 100%;
}

#main-menu div div div a:hover,
#main-menu div div div a:focus,
#main-menu div div div a:active {
    background-color: #323333;
    color: #B3B3B3;
    border-bottom: 1px solid #2F65C9;
    text-decoration: none;
}

.active {
    background-color: #323333 !important;
    color: #B3B3B3 !important;
    border-bottom: 1px solid #2F65C9;
    text-decoration: none;
}

/* ==================================================  Main menu - search style */
#main-seach {
    background-color: #323333;
    border-left: 2px solid #252525;
    height: 34px;
    padding: 2px 18px;
}
.search {
    margin-top: 4px;
    margin-right: 0;
}

#custom-search-input {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #232323;
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
    background-color: #232323;
    color: #B3B3B3;
}

#custom-search-input button {
    background-color: #454545;
    border-left: 1px solid #454545;
    color: #B3B3B3;
    margin-right: -1px;
    width: 40px;
}

#custom-search-input button:hover,
#custom-search-input button:focus {
    border: none;
    border-right: 1px solid #232323;
    box-shadow: none;
    outline: 0;
}

#custom-search-input .input-group .form-control {
    height: 22px;
}

/* ============================================================================
   Content submenu styles
   ============================================================================ */
#submenus-container{
    height: 28px;
    padding: 4px 15px;
}

.content-submenu-line {
    padding: 0 5px;
}
#submenus-container a {
    font-size: 13px;
}

#submenus-container a:first-child {
    margin-right: 8px;
}

#submenus-container a:not(:first-child) {
    margin: 0 8px;
}

#submenus-container a:hover,
#submenus-container a:focus {
    color: #B3B3B3;
    text-decoration: none;
}

/* ============================================================================
   Content active submenu style
   ============================================================================ */
.content-active-submenu-line {
    background-color: #323333;
    text-align: center;
    height: 30px;
    padding-top: 4px;
    border-left: 2px solid #252525;
    border-right: 2px solid #252525;
    border-bottom: 2px solid #252525;
}

#content-active-submenu div a {
    background-color: #323333;
    color: #B3B3B3;
    display: block;
    font-size: 13px;
    height: 30px;
    padding-top: 6px;
    text-align: center;
}
#content-active-submenu div a:hover,
#content-active-submenu div a:focus {
    color: #B3B3B3;
    display: block;
    text-decoration: none;
}

/* ==================================================  Main menu - search style */
#content-information-container{
    background-color: #323333;
    border-left: 2px solid #252525;
    display: block;
    height: 100vh;
    min-height: 100%;
    padding: 10px 15px;
}

/* ============================================================================
   User Folders thumbnail
   ============================================================================ */
#content-media-files {
    padding: 20px 5px;
    overflow: auto;
    max-height: 85vh;
}

#content-media-files .container-folder {
    padding-left: 10px;
    padding-right: 10px;
}

#content-media-files div a.thumbnail {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    display: block;
    background-color: transparent;
    text-align: center;
}

#content-media-files div a.thumbnail:hover,
#content-media-files div a.thumbnail:focus {
    background-color: #323333;
    text-decoration: none;
}

#content-media-files div a div#img-folder {
    background: url('../img/template/folder.png') no-repeat center;
    height: 57px;
    background-size: 68px;
    max-width: 500px;
    margin-bottom: 4px;
    width: 100%;
}

#content-media-files div a div#img-folder img {
    height: 50px;
    width: 50px;
    padding-top: 16px;
}
#content-media-files div a div.caption {
    color: #B3B3B3;
    font-size: 12px;
    padding: 0 9px;
}
/* =====================================================
   Files styles */
#content-media-files div div a div#img-folder,
#content-media-files div a div#img-folder {
    background: url('../img/template/folder.png') no-repeat center;
    height: 57px;
    background-size: 68px;
    max-width: 500px;
    margin-bottom: 4px;
    width: 100%;
}

#content-media-files div div a div#img-files,
#content-media-files div a div#img-files {
    height: 57px;
    margin-bottom: 4px;
}

#content-media-files div div a div#img-files img,
#content-media-files div a div#img-files img {
    width: 76px;
    height: 57px;
}

/* ============================================================================
   General styles
   ============================================================================ */
#info-folder-content div.thumbnail {
    background-color: transparent;
    border: none;
    border-radius: 0;
}

#info-folder-content div.thumbnail img {
    width: 190px;
}

#info-folder-content div.thumbnail div.caption h3,
#info-folder-content div.thumbnail div.caption p  {
    color: #B3B3B3;
}
/* ============================================================================
   General styles
   ============================================================================ */
.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
}

a,
a:hover,
a:active,
a:visited {
    color: #B3B3B3;
    text-decoration: none;
}

.bg-menu {
    background-color: #323333;
}

/* ============================================================================
   Colors styles
   ============================================================================ */

.folder-color {
    color: #BD9661;
}

.upload-color {
    color: #2F65C9;
}

.download-color {
    color: #45AD68;
}











