<div  id="content-container" class="row no-gutter">


    <div id="" class="col-md-9">

        <!-- Navbar submenus content menu -->
        <div id="submenus-container" class="vanbar bg-menu">
            <a href="" class="btn-root" ng-click="goRoot()">
                <i class="fa fa-home"></i> &nbsp;Root
            </a>
            <span class="content-submenu-line"> | </span>
            <a href="" class="" role="buttom">
                <i class="fa fa-folder folder-color"></i> New Folder
            </a>
            <a href="" class="" role="buttom">
                <i class="fa fa-upload upload-color"></i> Upload File
            </a>
            <a href="" class="" role="buttom">
                <i class="fa fa-download download-color"></i> Download File
            </a>
        </div>

        <!-- User Folders thumbnail -->
        <div id="content-media-files" class="row no-gutter">
            <div id="container-folder" class="col-md-2" ng-repeat="fl in userResult.media" ng-if="setRoot == 'root'">
                <a href="" class="thumbnail" ng-dblclick="showSubFolder()">
                    <!-- Show preview of the first image in the folder -->
                    <div id="img-folder">
                        <img ng-src="{{ fl.folder.files.img.path }}" alt="img_first_file" ng-if="fl.folder.files.img.path">
                    </div>
                    <!-- displays the name of the folder -->
                    <div class="caption">
                        {{ fl.folder.nameFolder }}
                    </div>
                </a>
            </div>
        </div>

    </div>


    <div class="col-md-3">

        <!-- active menu of submenus content -->
        <div id="content-active-submenu" class="row no-gutter">
            <div class="col-md-1 content-active-submenu-line"> || </div>
            <div class="col-md-11">
                <a href=""> File Information </a>
            </div>
        </div>

        <!-- -->
        <div id="content-information-container">
            ....
        </div>

    </div>

</div>