<form class="form">

    <!-- // =================================================================================================
         // Folder information form
         // ================================================================================================= -->
    <div class="info-folder-content" ng-if="getFormat == 'folder'">

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">Preview: </label>
            <div class="col-sm-9">
                <img id="inputEmail3"  src="img/template/folder.png" alt="folder-img" width="100%">
            </div>
        </div>
        <hr>
        <div class="form-group">
            <div class="col-sm-5">Name: </div>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="inputEmail3" placeholder="{{ setFolderData.folder.nameFolder }}" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-5">Subfolder: </label>
            <div class="col-sm-7" style="text-align: right">
                <p class="form-control-static"> {{ getLengthsubfolder }} </p>
            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-5">Media Files: </label>
            <div class="col-sm-7" style="text-align: right">
                <p class="form-control-static"> {{ getLengthFiles }} </p>
            </div>
        </div>

    </div>

    <div class="info-folder-content" ng-if="getFormat == 'img'">

        <div class="thumbnail">
            <img ng-src=" {{ setFolderData.img.path }}" alt="preview-img">
            <div class="caption">
                <h3> {{ setFolderData.img.name }} </h3>
            </div>
        </div>

        <div>
            <p>Type: {{ setFolderData.img.type }}</p>
            <p>width: {{ setFolderData.img.width }}</p>
            <p>height: {{ setFolderData.img.height }}</p>
            <p>
                <a href="#" class="btn btn-primary" role="button">Button</a>
                <a href="#" class="btn btn-default" role="button">Button</a>
            </p>
        </div>

    </div>

    <div id="video-info-content" class="info-folder-content" ng-if="getFormat == 'video'">

        <div class="thumbnail">
            <div id="load-video" ng-if="loadVideoIcon == 0">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                <div> Please wait </div>
            </div>
            <video id="video-info-folder" preload="auto" controls  style="position: relative">
                <source src=" {{ setFolderData.video.path }} " type="video/{{ setFolderData.video.type }}">
            </video>
            <div class="caption">
                <h3> {{ setFolderData.video.name }} </h3>
            </div>
        </div>

        <div>
            <p>Type: {{ setFolderData.video.type }}</p>
            <p>Size: {{ setFolderData.video.size }}</p>
            <p>Aspect Ratio: {{ setFolderData.video.aspRatio }}</p>
            <p>Duration: {{ setFolderData.video.duration }} </p>
            <p>
                <a href="#" class="btn btn-primary" role="button">Button</a>
                <a href="#" class="btn btn-default" role="button">Button</a>
            </p>
        </div>

    </div>

</form>